

/* .App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
} */



form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a {
  decoration: none;
}

a, a:visited {
    color: #00a;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
button,
textarea {
  width: 100%;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.3rem;
  border-radius: 0.3rem; 
  border: 1px solid #d3d3d3;
  display: block;
}

input:focus {
  outline: 1px solid steelblue;
}

label {
  margin-top: 1rem;
  font-size: .8rem;
}

button {
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}


li {
  list-style-type: none;
}

#login , #signup {
  margin-top: 3rem;
  border-radius: .7rem;
}


.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.errors {
  color: red;
  font-size: .7rem;
}