

/* .App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
} */

section {
  margin-top: 1rem;
}

section h1 {
  border-bottom: 1px solid #c3c3c3;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
button,
textarea {
  width: 100%;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.3rem;
  border-radius: 0.3rem; 
  border: 1px solid #d3d3d3;
  display: block;
  line-height: 1.5;
}

input:focus {
  outline: 1px solid steelblue;
}

label {
  margin-top: 1rem;
  font-size: .8rem;
}

#login button, #signup button {
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#login button:hover,
#signup button:hover {
  border-color: #646cff;
}

#login , #signup {
  margin-top: 3rem;
  border-radius: .7rem;
}

#signup form > div {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

#signup form > div > label {
  width: 49%;
}

button:focus,
button:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}

ul {
  padding-top: 1rem;
  padding-left: 2rem;
  
}

li {
display: flex;
justify-content: space-between;
aling-items: center;
margin-bottom: .4em;
}

li:hover{
  border-bottom: 1px solid #b3b3b3;
}

li button {
    padding: 0 .7rem;
  font-size: .9rem;
}

.update-delete {
  display: flex;
  gap: .4em;
}

button.update {
  border: 1px solid limegreen;
  color: limegreen;
  cursor: pointer;
}

button.update:hover {
  background-color: limegreen;
  color: #000;
}

button.delete {
  border: 1px solid red;
  color: red;
  cursor: pointer;
}

button.delete:hover {
  background-color: red;
  color: #000;
}


.profile {
  padding-top: 1rem;
  padding-left: 1rem;
}

.profile span {
  font-weight: 500;
}

.profile div {
  padding: 0.15rem 0;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.errors {
  color: red;
  font-size: .7rem;
}